extends layout



block content
    div.container
        .page-header
            h1 
                |Welcome, #{user.name} 
                small
                    | Pick your LED to begin
        .tabbable
            ul.nav.nav-tabs
                for device in devices
                    li
                        a.js-picker-activate(href='#tab#{device.guid}',data-toggle='tab')=device.shortName
            .tab-content
                for device in devices
                    div.tab-pane.fade(id="tab#{device.guid}")
                        .row
                            .span6
                                form.wheel.pull-right
                                    .picker(data-guid="#{device.guid}")
                            .span6
                                h4 This device is reporting:
                                div.history(data-guid="#{device.guid}")

    script
        var pusher = new Pusher('#{ninjaPusher}'); // Replace with your app key
        var channel = pusher.subscribe('#{user.pusherChannel}');
        app.setDevices(!{JSON.stringify(devices)})
        channel.bind('heartbeat', function(heartbeat) {
            app.handleHeartbeat(heartbeat);
        });
        channel.bind('data', function(data) {
            app.handleData(data);
        });